page-welcome {

    ion-content{
        background: linear-gradient(160deg,#283593 30%,#F50057 70%);
    }
    .img{
        margin-top: 100px;
        left: 0;
        right: 0;

    }
    .b1{
        margin-top: 35px;
    }

}
